---
title: Media
pageclass: media
---
.container
  %h1
    Media

  .row
    .col
      %h2 Festival
      %ul
        %li= link_to "BsAs Festival Home", "http://festivales.buenosaires.gob.ar/en/home"
        %li= link_to "City Championship May ", "http://festivales.buenosaires.gob.ar/2017/tangociudad/en"
        %li= link_to "TangoBA Festival y Mundial Aug", "http://festivales.buenosaires.gob.ar/2017/tangociudad/es"
        %li= link_to "BA Participation", "http://bapc.buenosaires.gob.ar/"
        %li= link_to "Usina del Arte", "http://www.buenosaires.gob.ar/usinadelarte"
        %li= link_to "Luna Park", "https://www.lunapark.com.ar/"

      %h2 Tourism
      %ul
        %li= link_to "BsAs Tourism", "https://turismo.buenosaires.gob.ar/en"
        %li= link_to "Accuweather", "https://www.accuweather.com/en/ar/buenos-aires/7894/march-weather/7894"
        %li= link_to "Rough Guide AR", "https://www.roughguides.com/destinations/south-america/argentina/"
        %li= link_to "Time Out BsAs", "http://www.timeout.com/buenos-aires/"
        %li= link_to "Gringo in BsAs", "https://www.gringoinbuenosaires.com/"
        %li= link_to "Landing pad BsAs", "http://landingpadba.com/"
        %li= link_to "Real Argentina", "https://therealargentina.com/en"
        %li= link_to "Resident Advisor BsAs", "https://www.residentadvisor.net/events/ar/buenosaires"
        %li= link_to "Lonely Planet BsAs", "https://www.lonelyplanet.com/argentina/buenos-aires"
        %li= link_to "Frommers BsAs", "https://www.frommers.com/destinations/buenos-aires"
        %li= link_to "Like a Local BsAs", "https://www.likealocalguide.com/buenos-aires/things-to-do"
        %li= link_to "Nomadasaurus AR", "https://www.nomadasaurus.com/category/argentina/"
        %li= link_to "Wikitravel BsAs", "https://wikitravel.org/en/Buenos_Aires"
        %li= link_to "Smart Expat BsAs", "https://smartexpat.com/argentina/buenos-aires"
        %li= link_to "Welcome Argentina", "https://www.welcomeargentina.com/ciudadbuenosaires/index_i.html"
        %li= link_to "Biking BsAs", "https://bikingbuenosaires.com/"
        %li= link_to "Free Walks BsAs", "http://www.buenosairesfreewalks.com/"


      %h2 Radio and TV
      %ul
        %li= link_to "AM1110", "http://www.buenosaires.gob.ar/radiociudad"
        %li= link_to "(live)", "http://radios.argentina.fm/tunein.php/am1110/playlist.asx"
        %li= link_to "LA2x4", "http://www.buenosaires.gob.ar/la2x4"
        %li= link_to "(live)", "http://radios.argentina.fm/tunein.php/la2x4/playlist.asx"
        %li= link_to "Canal de la Ciudad", "http://www.buenosaires.gob.ar/canaldelaciudad"
        %li= link_to "(live)",  "http://live.vtx.statics.space/b07/ngrp:gcba_video3-100042_all/Playlist.m3u8?sense=true"
        %li= link_to "Todas Noticias", "https://tn.com.ar"
        %li= link_to "(live)", "https://tn.com.ar/envivo/24hs"
        %li= link_to "Radio Mitre", "https://www.clarin.com/radio-mitre-vivo/"


      %h2 Magazine
      %ul
        %li= link_to "La Agenda", "http://laagenda.buenosaires.gob.ar/"
        %li= link_to "Enjoy", "https://disfrutemosba.buenosaires.gob.ar/"
        %li= link_to "Clarin", "https://www.clarin.com/"
        %li= link_to "The Bubble", "http://www.thebubble.com/"




      %h2 Instagram
      %ul
        %li= link_to "Festival", "https://www.instagram.com/festivalesgcba/"
        %li= link_to "Tourism", "https://www.instagram.com/travelbuenosaires"
        %li= link_to "Culture", ""
        %li= link_to "BsAs Gov", "https://www.instagram.com/buenosaires/"
        %li= link_to "BA Participation", "https://www.instagram.com/baparticipacionciudadana/"
        %li= link_to "Todas Noticias", "https://www.instagram.com/todonoticias/"
        %li= link_to "The Bubble", "https://www.instagram.com/thebubblecom"
        %li= link_to "Usina del Arte", "https://www.instagram.com/usinadelarte/"
        %li= link_to "Luna Park", "https://www.instagram.com/lunaparkstadium/"
        %li= link_to "Instatango", "https://www.instagram.com/instatango/"
        %li= link_to "Tango Paparazzo", "https://www.instagram.com/tangopaparazzo/"


      %h2 Youtube
      %ul
        %li= link_to "Festival", "https://www.youtube.com/channel/UCQW-dtzujVMX5Kxnvj48Iiw"
        %li= link_to "Tourism", "http://www.youtube.com/travelbuenosaires"
        %li= link_to "BsAs Gov", "http://www.youtube.com/user/GCBA"
        %li= link_to "Prensa GCBA", "https://www.youtube.com/channel/UCYWwLhqW6P36HeIXvxH7tUA"
        %li= link_to "AM1110", "https://www.youtube.com/channel/UCBot3oSlKLf0Em10IhZvUrQ"
        %li= link_to "LA2x4", "https://www.youtube.com/channel/UCtrw-mdTL1-DZMgE_3HyXgg"
        %li= link_to "CanalCiudad", "https://www.youtube.com/channel/UCOV_Vx1baZJY9Tfvgm-UI3w"
        %li= link_to "TV Publica AR", "https://www.youtube.com/user/TVPublicaArgentina"
        %li= link_to "Todo Noticias", "https://www.youtube.com/channel/UCj6PcyLvpnIRT_2W_mwa9Aw"
        %li= link_to "C5N", "https://www.youtube.com/user/c5n"
        %li= link_to "AV Telam", "https://www.youtube.com/user/AudiovisualTelam"
        %li= link_to "Luna Park", "https://www.youtube.com/channel/UC6yGNjnQl1Sygot-JZfzMnQ"


    .col

      %h2 Facebook
      %ul
        %li= link_to "Festival", "http://www.facebook.com/FestivalesGCBA"
        %li= link_to "Tourism", "https://www.facebook.com/travelbuenosaires"
        %li= link_to "BACulture", "https://www.facebook.com/BACultura/"
        %li= link_to "CulturaBarrios", "https://www.facebook.com/CulturaBarrios/"
        %li= link_to "Enjoy", "https://www.facebook.com/DisfrutemosBA/"
        %li= link_to "BsAs Gov", "http://www.facebook.com/gcba"
        %li= link_to "BA Participation", "https://www.facebook.com/baparticipacion/"
        %li= link_to "AM1110", "https://www.facebook.com/Laoncediez/"
        %li= link_to "LA2x4", "https://www.facebook.com/La2x4/"
        %li= link_to "CanalCiudad", "https://www.facebook.com/CanalCiudadBA/"
        %li= link_to "Todas Noticias", "https://www.facebook.com/todonoticias"
        %li= link_to "The Bubble", "http://facebook.com/thebubblecom"
        %li= link_to "Usina del Arte", "https://www.facebook.com/usinadelarte.bsas/"
        %li= link_to "Luna Park", "http://www.facebook.com/stadiumLunaPark"

      %h2 Twitter
      %ul
        %li= link_to "Festival", "https://twitter.com/festivalesGCBA"
        %li= link_to "Tourism", "https://twitter.com/travelbaires"
        %li= link_to "BACulture", "https://twitter.com/datacultura"
        %li= link_to "CulturaBarrios", "https://twitter.com/CulturaBarrios"
        %li= link_to "Enjoy", "https://twitter.com/DisfrutemosBA"
        %li= link_to "BsAs Gov", "http://www.twitter.com/gcba"
        %li= link_to "BA Participation", "https://twitter.com/BAPartCiudadana"
        %li= link_to "AM1110", "https://twitter.com/Laoncediez"
        %li= link_to "LA2x4", "https://twitter.com/la2x4"
        %li= link_to "CanalCiudad", "https://twitter.com/CanalCiudadBA"
        %li= link_to "Todas Noticias", "https://twitter.com/todonoticias"
        %li= link_to "The Bubble", "https://twitter.com/thebubblecom"
        %li= link_to "Usina del Arte", "https://twitter.com/UsinadelArte"
        %li= link_to "Luna Park", "https://twitter.com/stadiumlunapark"

      %h2 RSS Feeds
      %ul
        %li= link_to "BsAs Gov", "http://www.buenosaires.gob.ar/rss/noticias"

      %h2 Email
      %ul
        %li
          Festival Office info@festivales.gob.ar

      %h2 Phone / Address
      %ul
        %li
          Festival Office (011)-4909-2076 (12h - 18h)








  #headtalk
    .loading
  %p
    Hope to hear from you!

/ templates
%script#mytemplate{:type=>"text/x-handlebar-templates"}
  %table.table.table-bordered
    = "{{#each .}}"
    %tr
      %td= "{{name}}"
      %td= "{{age}}"
    = "{{/each}}"


- content_for :post_js do
  :javascript
    function myReady(){
      //var api = 'http://db.tangueros.net/fb/gf/348726108583892';
      //$.getJSON( api ).done( function(info) {
      //  transform('#mytemplate', '#headtalk', info.data);
      //
      var data=[
        {"name": "John", "age": 30},
        {"name": "Mary", "age": 21}
      ];
      transform('#mytemplate', '#headtalk', data);
    }
    $(document).ready(myReady());

